body{
    background-color: hwb(219 48% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.qrcard{
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  /* border:4px solid black; */
  padding: 20px;
  border-radius: 30px;

}
.qrcodeimage{
  width: 100%;
  border-radius: 20px;
  
}
.container{
  font-size: 15px;
}
.container .heading{
  font-weight: 400;
}
.container .paragraph{
  font-weight: 700;
  color: hsl(212, 45%, 89%);
}

.attribution{
  font-size: 11px; 
  text-align: center;
  position: absolute;

}
.attribution a {
  color: hsl(228, 45%, 44%);
}
